html, body {
    margin: 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; height:100%;
    background-color: #edf1f5;
}

* {
    box-sizing: border-box; outline: none;
}

.register_frame {
    /* border: 1px solid rgb(143, 140, 140); */
    width: 340px; height: 420px;
    background-color: #f0f;
    box-shadow: 0px 3px 8px rgb(143, 140, 140);
}

.page {
    font-size: 16px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    background-color: #eee;
}
input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid rgb(143, 140, 140);
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 8px;
    cursor: pointer; outline: none;
    text-decoration: none;
    background-color: rgb(209, 45, 45);
    color: #fff;
    border: 1px solid rgb(209, 45, 45);
}

.login {
    background-color: rgb(25, 109, 25);
    border: 1px solid rgb(25, 109, 25);
}

.register_base {
    width: 100%; height: 70%;
    /* border: 1px solid #00f; */
    display: flex;
    justify-content: center; align-items: center;
}

.div {
    /* border: 1px solid #f00; */
    width: 80%;
}

.alert {
    height: 40px;
    background-color: rgb(241, 182, 182);
    color: rgb(76, 6, 6);
    text-align: center;
    display: none;
    padding-top: 10px;
}

.navigation {
    margin-top: 0;
    text-align: center;
}